<div class="flex flex-col gap-3" aria-hidden="true">
  {% comment %} image {% endcomment %}
  <div class="aspect-square animate-pulse rounded bg-(--jazz-neutral-100)"></div>

  <div class="h-lh w-[25ch] animate-pulse rounded bg-(--jazz-neutral-100)"></div>
  <div class="h-lh w-[10ch] animate-pulse rounded bg-(--jazz-neutral-100)"></div>

  {% comment %} add-to-cart button {% endcomment %}
  <div class="h-lh w-[15ch] animate-pulse rounded bg-(--jazz-neutral-100)"></div>
</div>
