{% unless product.media.size < 2 %}
  {% assign first_option = product.options_with_values[0] %}
  {% assign init_slide = first_option.values | find_index: 'name', first_option.selected_value %}

  <div x-data="productImagesCarousel({{ init_slide }})" class="embla" role="region">
    <div class="grid grid-cols-1 grid-rows-1 overflow-clip rounded-br">
      <div x-ref="emblaViewport" class="embla__viewport col-start-1 row-start-1">
        <div class="embla__container">
          {% for media in product.media %}
            <div class="embla__slide">
              {% assign loading = 'lazy' %}
              {% if forloop.first %}
                {% assign loading = 'eager' %}
              {% endif %}
              {% if media.media_type == 'image' %}
                {% render 'image', image: media, sizes: '100vw, 50vw', aspect_ratio: '1/1', loading: loading %}
              {% elsif media.media_type == 'video' %}
                {% render 'video', video: media, aspect_ratio: '1/1' %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="embla__controls pointer-events-none relative z-1 col-start-1 row-start-1 flex w-full justify-between self-center px-4 text-gray-600">
        <button
          x-ref="emblaButtonPrev"
          class="square ghost pointer-events-auto"
          type="button"
          aria-label="Previous slide"
          data-placement="right"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M15 6l-6 6l6 6" />
          </svg>
        </button>

        <button
          x-ref="emblaButtonNext"
          class="square ghost pointer-events-auto"
          type="button"
          aria-label="Next slide"
          data-placement="left"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M9 6l6 6l-6 6" />
          </svg>
        </button>
      </div>
    </div>

    <div class="embla-thumbs">
      <div x-ref="emblaThumbsViewport" class="embla-thumbs__viewport">
        <div class="embla-thumbs__container">
          {% for media in product.media %}
            <button
              class="ghost embla-thumbs__slide p-0"
              aria-label="Go to slide {{ forloop.index }}"
            >
              {% if media.media_type == 'image' %}
                {% render 'image', image: media, sizes: '100vw, 50vw', aspect_ratio: '1/1' %}
              {% elsif media.media_type == 'video' %}
                {% render 'video', video: media, aspect_ratio: '1/1' %}
              {% endif %}
            </button>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% else %}
  {% render 'image', image: product.featured_image, sizes: '100vw, 50vw', aspect_ratio: '1/1' %}
{% endunless %}

{% stylesheet %}
  .embla {
    --slide-spacing: 0rem;
    --slide-size: 100%;
    --thumb-size: 10%;
  }

  .embla__viewport {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);

    user-select: none;
  }

  .embla-thumbs {
    --thumbs-slide-spacing: 1rem;
    margin-top: var(--thumbs-slide-spacing);
  }

  .embla-thumbs__container {
    display: flex;
    flex-direction: row;
    gap: var(--thumbs-slide-spacing);
    padding-inline: var(--thumbs-slide-spacing);
    padding-block: 1px;
    margin-right: 1px;
  }

  .embla-thumbs__slide {
    flex: 0 0 var(--thumb-size);
    display: flex;

    &:last-of-type {
      margin-right: var(--thumbs-slide-spacing);
    }
  }

  .embla-thumbs__slide__button {
    cursor: pointer;
    touch-action: manipulation;
    overflow: clip;
  }

  .embla-thumbs__slide--selected {
    outline: 1px solid var(--jazz-neutral-700);
  }
{% endstylesheet %}
