<a
  class="button pointer-events-none fixed! top-6 left-1/2 z-100 -translate-1/2 rounded-lg bg-white px-4 py-2 opacity-0 outline-2 outline-blue-500 focus:pointer-events-auto focus:opacity-100"
  href="#main"
>
  Skip to content
</a>
