{% if section.blocks.size > 0 %}
  <section id="announcement_bar" class="sticky -top-9 z-10 h-9" style="view-transition-name: announcement-bar">
    {% render 'banner', blocks: section.blocks %}
  </section>
{% endif %}

{% stylesheet %}
  body {
    --announcement-bar-height: 0;
  }

  body:has(#announcement_bar) {
    --announcement-bar-height: 2.25rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Announcement bar",
  "class": "contents",
  "enabled_on": {
    "groups": ["header"]
  },
  "blocks": [
    {
      "type": "item",
      "name": "Banner item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Announcement"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement bar",
      "blocks": [{ "type": "item" }]
    }
  ]
}
{% endschema %}
