{% if section.settings.text != blank %}
  <div
    x-data="{ shown: false }"
    x-init="$watch('shown', (value) => $dispatch('announcement-bar:visible', value))"
    id="announcement_bar"
    role="region"
    aria-label="Announcement"
    class="relative z-10 flex h-(--announcement-bar-height) items-center justify-center bg-(--jazz-neutral-100) px-4"
    style="view-transition-name: announcement-bar"
  >
    {{ section.settings.text }}

    <template x-teleport="body">
      <div
        x-intersect="shown = true"
        x-intersect:leave="shown = false"
        class="opacity pointer-events-none absolute top-0 right-0 left-0 h-(--announcement-bar-height)"
      ></div>
    </template>
  </div>
{% endif %}

{% stylesheet %}
  body {
    --announcement-bar-height: 0rem;
  }

  body:has(#announcement_bar) {
    --announcement-bar-height: 2.5rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Announcement bar",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Announcement"
    }
  ],
  "presets": [
    {
      "name": "Announcement bar"
    }
  ]
}
{% endschema %}
