{% assign product = product_variant.product %}
{% assign image = product_variant.featured_image | default: product.featured_image %}

<article>
  <header class="justify-between">
    <span class="text-(--jazz-neutral-400)">Added to your cart</span>

    <button
      onclick="this.closest('dialog')?.close()"
      aria-label="Close cart notification"
      data-placement="left"
      class="button ghost square"
    >
      {% render 'icon-cross' %}
    </button>
  </header>

  <div class="grid grid-cols-[100px_1fr] gap-4">
    {% render 'image', image: image, class: 'rounded overflow-hidden', sizes: '100px, 100px' %}

    <div>
      <h2 class="mb-2">{{ product.title }}</h2>

      <span>
        {% render 'product-price', product: product %}
      </span>
    </div>
  </div>

  <footer class="justify-between">
    <a
      href="{{ routes.cart_url }}"
      onclick="event.preventDefault(); event.stopPropagation(); document.getElementById('cart_notification')?.close(); document.getElementById('cart_drawer')?.showModal()"
      class="button link"
    >
      See cart
    </a>

    {% form 'cart', cart %}
      <button class="button" type="submit" name="checkout">Checkout</button>
    {% endform %}
  </footer>
</article>
