<footer class="mx-4 mt-8 border-t border-(--jazz-neutral-200) pt-16 pb-4">
  <p>© 2026</p>
</footer>

{% schema %}
{
  "name": "Footer",
  "enabled_on": {
    "groups": ["footer"]
  },
  "limit": 1,
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
