<section class="my-4 px-4" id="main_collection">
  <div class="mb-4 flex items-center justify-between">
    <h1>
      {{ collection.title }}
      <span class="text-neutral-500">({{ collection.all_products_count }})</span>
    </h1>

    {% content_for 'block', type: '_collection-filter', id: 'collection_filter' %}
  </div>

  <div id="filter_result">
    {% paginate collection.products by 12 %}
      {% if collection.products.size == 0 %}
        <p class="col-span-4">No results</p>
      {% else %}
        <div class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-3">
          <ul id="paginated_items" class="contents">
            {% for product in collection.products %}
              <li>
                {% render 'product-card', product: product %}
              </li>
            {% endfor %}
          </ul>

          {%- if section.settings.pagination_type == 'infinite_scroll' -%}
            {% render 'infinite-scroll', paginate: paginate %}
          {%- endif -%}
        </div>
      {% endif %}

      {%- if section.settings.pagination_type == 'pagination' -%}
        {% render 'pagination', paginate: paginate %}
      {%- endif -%}
    {% endpaginate %}
  </div>
</section>

{% schema %}
{
  "name": "Main collection",
  "settings": [
    {
      "type": "select",
      "id": "pagination_type",
      "label": "Pagination type",
      "options": [
        { "label": "Infinite scroll", "value": "infinite_scroll" },
        { "label": "Pagination", "value": "pagination" }
      ],
      "default": "infinite_scroll"
    }
  ]
}
{% endschema %}
