{% if section.settings.amount != 0 %}
  <div style="padding-bottom: {{ section.settings.amount }}px"></div>
{% endif %}

{% if request.visual_preview_mode %}
  {% comment %} show a little arrow in the preview popup {% endcomment %}
  <p aria-hidden="true" class="bg-white" style="text-align: center; opacity: 0.4; font-size: 5vw; margin: 0.15;">↕</p>
{% endif %}

{% schema %}
{
  "name": "Space",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "range",
      "id": "amount",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Amount",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Space"
    }
  ]
}
{% endschema %}
