<div class="mt-4 px-4" style="{% render 'color-scheme' %}">
  <p>{{ section.settings.text }}</p>

  <div class="text-(--scheme-primary)">Primary color</div>
  <div class="text-(--scheme-secondary)">Secondary color</div>

  {% render 'image',
    loading: 'eager',
    image: section.settings.image,
    image_mobile: section.settings.image_mobile,
    aspect_ratio_sm: '1/1',
    aspect_ratio_md: '2/1',
    sizes: '100vw, 100vw'
  %}

  {% render 'video', video: section.settings.video, aspect_ratio_sm: '3/4', aspect_ratio_md: '16/9' %}
</div>

{% schema %}
{
  "name": "Test section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "This is a test section"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme_1"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image - mobile"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    }
  ],
  "presets": [
    {
      "name": "Test section"
    }
  ]
}
{% endschema %}
