{% doc %}
  Outputs a link to the login page, or to the customer's account page if already logged in.
  Only renders if `shop.customer_accounts_enabled` is true.

  @example
  {% content_for 'block', type: '_account-link', id: 'account' %}
{% enddoc %}

{%- if shop.customer_accounts_enabled -%}
  <a
    data-no-swup
    href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.storefront_login_url }}{%- endif -%}"
    class="button ghost"
    rel="nofollow"
  >
    Account
  </a>
{%- endif -%}

{% schema %}
{
  "name": "Account link",
  "presets": [
    {
      "name": "Account link"
    }
  ]
}
{% endschema %}
