{% comment %} simple login field, during development {% endcomment %}

<div id="login" class="my-20 px-4">
  <form
    class="flex flex-col gap-4"
    method="post"
    action="/password"
    id="login_form"
    accept-charset="UTF-8"
  >
    <input type="hidden" name="form_type" value="storefront_password">
    <input type="hidden" name="utf8" value="✓">

    <label for="password">
      Enter store using password:<br>

      <input
        class="mt-2 rounded border border-gray-300 px-2 py-1"
        placeholder="password"
        type="password"
        name="password"
        id="password"
        autofocus=""
      >
    </label>

    <div class="actions">
      <input class="button" name="commit" type="submit" value="Enter">
    </div>
  </form>
</div>
